* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorBlueMiddle: #327DEA;
    --colorBlueLight: #B9E9FC;
    --colorBlueDarkBlue: #182089;
}

html {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Segoe UI;
}



body {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #182089, #327DEA, #8ab9c6, #B9E9FC);
    border-bottom: solid 1px #999;
    box-shadow: #bababa 0px 0px 5px;
    font-weight: 900;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 2%;
    align-items: flex-end;
}

.text {
    z-index: 10;
    text-align: justify;
    font-size: 1.2em;
    width: 20%;
    height: 20%;
    font-weight: bold;
    color: var(--colorBlueLight);
}

#content {
    z-index: 10;
    padding: 3%;
    height: 40%;
    width: 25%;
}

#content>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.h3 {
    font-size: 2em;
}

form {
    height: auto;
    width: auto;
}

input {
    height: 30px;
    width: 100%;
    margin: 5%;
    color: var(--colorBlueDarkBlue);
    font-size: 1.1em;
    cursor: auto;
}

#content>form>p>a {
    text-decoration: none;
}


/* CSS btn*/
.btn {
    align-items: center;
    background-image: linear-gradient(144deg, #327DEA, #8ab9c6 50%, #327DEA);
    border: 0;
    border-radius: 20px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #0e023a;
    display: flex;
    font-family: futura, Phantomsans, sans-serif;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 20px;
    text-decoration: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.5em;
    margin-bottom: 3%;
}

.button-63:active,
.button-63:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-63 {
        font-size: 24px;
        min-width: 196px;
    }
}

/* fin css btn */


/* anime titre h1 */
.animate-charcter {
    z-index: 10;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #327DEA 0%,
            #b9e9fc 29%,
            #8ab9c6 67%,
            #327DEA 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
    font-size: 5rem;
    opacity: 0.9;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* fin anime titre */

/* animation ciel nuageux*/
#contentCloud {
    display: none;
}

#cloud1 {
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 1em;
    font-size: 5.5rem;
    color: #82d4e2;
    animation: moveCloud 70s linear infinite;
    -webkit-animation: moveCloud 60s linear infinite;
    -moz-animation: moveCloud 60s linear infinite;
}

#cloud2 {
    z-index: 5;
    position: absolute;
    left: -20px;
    top: 6em;
    font-size: 6rem;
    font-weight: 900;
    color: #666;
    cursor: crosshair;
    animation-delay: 7s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 7s;
    animation: moveCloud 80s ease-in-out infinite;
    -webkit-animation: moveCloud 50s ease-in-out infinite;
    -moz-animation: moveCloud 50s ease-in-out infinite;
}

#cloud3 {
    z-index: 3;
    position: absolute;
    left: -50px;
    top: 3em;
    font-size: 6rem;
    color: #a8e4ec;
    animation: moveCloud 75s ease-out infinite;
    -webkit-animation: moveCloud 55s ease-out infinite;
    -moz-animation: moveCloud 55s ease-out infinite;
}

#cloud4 {
    z-index: 4;
    position: absolute;
    left: -10px;
    top: 4em;
    font-size: 6.5rem;
    font-weight: 900;
    color: #999;
    cursor: crosshair;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation: moveCloud 65s ease-in-out infinite;
    -webkit-animation: moveCloud 50s ease-in-out infinite;
    -moz-animation: moveCloud 50s ease-in-out infinite;
}

#cloud5 {
    z-index: 5;
    position: absolute;
    left: -60px;
    top: 2.5em;
    font-size: 6.5rem;
    font-weight: 900;
    color: #bababa;
    cursor: crosshair;
    animation: moveCloud 70s ease-out infinite;
    -webkit-animation: moveCloud 70s ease-out infinite;
    -moz-animation: moveCloud 70s ease-out infinite;
}

#cloud6 {
    z-index: 6;
    position: absolute;
    left: -40px;
    top: 6em;
    font-size: 7rem;
    font-weight: 900;
    color: #cacaca;
    cursor: crosshair;
    animation-delay: 2s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation: moveCloud 85s ease-in infinite;
    -webkit-animation: moveCloud 55s ease-in infinite;
    -moz-animation: moveCloud 55s ease-in infinite;
}

@keyframes moveCloud {
    0% {
        transform: translate(1950px);
    }

    100% {
        transform: translate(-50px);
    }
}

@-webkit-keyframes moveCloud {
    0% {
        transform: translate(1950px);
    }

    100% {
        transform: translate(-50px);
    }
}

@-moz-keyframes moveCloud {
    0% {
        transform: translate(1950px);
    }

    100% {
        transform: translate(-50px);
    }
}

/* fin animation ciel nuageux */

/* @media screen and (max-width: 768px) {

    #contentCloud {
        display: block;
    }
} */