{% extends 'base.html.twig' %}

{% block title %}New TodoLists
{% endblock %}

{% block body %}
	<div id="mainTable">
		<div class="conteneurCreation">
			<h2>Nouvelle Liste</h2>
			{{ include('todo_lists/_form.html.twig') }}
			<a href="{{ path('app_todo_lists_index') }}">Retour</a>
		</div>
	</div>
{% endblock %}
