{% extends 'base.html.twig' %}

{% block title %}New Tasks
{% endblock %}

{% block body %}
	<div id="mainTable">
		<div class="conteneurCreation">
	<h2>Create new Tasks</h2>

	{{ include('tasks/_form.html.twig') }}

	<a href="{{ path('app_tasks_index',{'id': id}) }}">back to list</a>
	</div>
	</div>
{% endblock %}
